* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: chocolate;
  color: beige;
  text-align: center;
  padding: 20px 0;
}

div.card_container {
  padding: 20px;
}

div.action_container {
  padding: 20px 0 0 20px;
  display: flex;
  gap: 20px;
}

div.card {
  background-color: rgb(233, 233, 233);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

div.card img {
  width: 100%;
  margin: 10px 0;
}

div.card ul {
  margin: 10px 0 10px 30px;
}

button.btn {
  border: none;
  background-color: chocolate;
  padding: 10px 15px;
  border-radius: 25px;
  color: white;
}